.carousel-item img {
    max-height: 150px;
    /* Establecer el tamaño máximo de la altura de la imagen */
    max-width: 100%;
    /* Establecer el tamaño máximo del ancho de la imagen */
    width: auto;
    /* Ajustar el ancho automáticamente */
    margin: auto;
    /* Centrar la imagen horizontalmente */
    display: block;
    /* Hacer que la imagen sea un bloque para aplicar los márgenes */
    object-fit: cover;
    /* Escalar la imagen para cubrir el contenedor */
}

