.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 765px) {
    .title{
        margin-left: 12px;
    }    
}

.profile {
    margin: 15px;
    max-width: 180px;
    border-radius: 15%;
    height: auto;
}

p {
    text-align: justify;
}

.padres {
    justify-content: center;
    align-items: center;
    text-align: center;
}

figcaption {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-size: 11px;
}

.papa {
    max-width: 150px;
}

.mama {
    max-width: 134px;
}

.abuela {
    float: right;
    margin-left: 25px;
    max-width: 140px;
}

.carta {
    float: left;
    margin-right: 15px;
    max-width: 220px;
}

.jpmp {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 120px;
}

.archivo {
    margin: 8px auto; /* Centra el contenedor horizontalmente */
    display: flex; 
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si tiene altura definida */
    text-align: center; /* Centra el texto dentro */
    max-width: 300px;
}

.redes{
    color:white;
    background-color: black;
    border-color: black;
}