<hr class="featurette-divider">
<footer class="mt-auto py-3 text-muted text-center">
    <div class="container p-2">
        <div class="mb-3 text-black">
            <p class="mb-1">© 2025 JPMP</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.instagram.com/jorgelinapmp/" target="_blank" class="rounded-circle p-2"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/jorgelinapmp/" target="_blank" class="rounded-circle p-2"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=700229379&ref=xav_ig_profile_web" target="_blank" class="rounded-circle p-2"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCVqcIKfMtf6n0X5jsIzCM_Q" target="_blank" class="rounded-circle p-2"><i class="fa-brands fa-youtube"></i></a></li>
                <li class="list-inline-item"><a href="https://www.tiktok.com/@jorgelinapmp" target="_blank" class="rounded-circle p-2"><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
