img {
  height: 60px;
}

header {
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

header a {
  font-size: 1.2rem;
  text-decoration: none;
}

header .font-weight-normal {
  font-size: 1.5rem;
}

@media (max-width: 765px) {
  .logo-toggler-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 10vw, 100px);
  }

  .logo-toggler-container .navbar-toggler {
    margin-left: 0;
  }
}