img {
    height: 50px;
}

h2{
  color: white;
}

header {
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
/* Cambiar tamaño de fuente y quitar subrayado para los enlaces */
header a {
    font-size: 1.2rem;
    text-decoration: none; /* Quitar el subrayado */
}

/* Cambiar tamaño de fuente para el texto principal */
header .font-weight-normal {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .logo-toggler-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo-toggler-container .navbar-toggler {
      margin-left: 0;
    }
  }