<div class="container mt-5">
    <p class="lead">En 2012 comencé con la muestra <b><i>G.I.R: Geografías Interiores Reconstrucción</i></b>,
        en la que expuse obras, archivos, fotografías, textos, relatos, cartas y
        documentos que fui recopilando a lo largo de mis años de búsqueda de mi
        identidad. La muestra fue pasando desde mi nombre adoptivo, Carolina Sala, hasta que,
        dibujando un retrato en el que estaba la mano de mi madre y la mía de bebita,
        me encontré con mi verdadera identidad firmando como Jorgelina Paula
        Molina Planas por primera vez.</p>
    <p class="lead">La Muestra G.I.R fue expuesta en Casa della Memoria (Roma), Museo de San Fernando, Casa de la Memoria
        de Pilar, Casa de San Ginés, Biblioteca Nacional de Bs. As. y el Palacio Otamendi en San Fernando. Con visitas de escuelas, docentes, jóvenes y adultos, además de una Conferencia en la
        Universidad de Limoges, Francia.
    </p>
</div>

<div class="container mt-5" *ngFor="let muestra of muestras">
    <div class="container">
        <!--TITULO Y DESCRIPCION-->
        <div class="mb-5">
            <h2 class="mb-2"><strong>{{ muestra.title }}</strong></h2>
            <p class="desc lead">{{ muestra.desc }}</p>
        </div>
        <!--IMAGENES-->
        <div class="row text-center">
            <div class="col-md-4 mb-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" [src]="muestra.img1" />
            </div>
            <div class="col-md-4 mb-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" [src]="muestra.img2" />
            </div>
            <div class="col-md-4 mb-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" [src]="muestra.img3" />
            </div>
        </div>        
    </div>
</div>