<div class="container mt-5">
    <p class="lead">En 2012 comencé con la muestra <b><i>G.I.R: Geografías Interiores Reconstrucción</i></b>,
        en la que expuse obras, archivos, fotografías, textos, relatos, cartas y
        documentos que fui recopilando a lo largo de mis años de búsqueda de mi
        identidad. La muestra fue pasando desde mi nombre adoptivo, Carolina Sala, hasta que,
        dibujando un retrato en el que estaba la mano de mi madre y la mía de bebita,
        me encontré con mi verdadera identidad firmando como Jorgelina Paula
        Molina Planas por primera vez.</p>
    <p class="lead">La Muestra G.I.R, fue expuesta en Roma, Museo de San Fernando, Casa de la Memoria
        de Pilar, Casa de San Ginés. Con visitas de Escuelas, docentes, jóvenes y adultos. Y también Conferencia en la
        Universidad de Limoges, Francia.
    </p>
</div>

<div class="container mt-5" *ngFor="let muestra of muestras">
    <div class="row" >
        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                [src]="muestra.img" />
        </div>
        <div class="col-md-8">
            <p><strong>{{ muestra.title }}</strong></p>
            <p>{{ muestra.desc }}</p>
        </div>
    </div>
</div>

