<div class="container mt-5">
  <p class="lead">Desde pequeña, el arte me acompañó a recorrer un camino de búsqueda de
    mis raíces, y es por eso que quiero compartir lo que significa la creatividad y el
    poder del arte para expresarnos libremente.</p>
    
  <p class="lead">En mis clases transmito herramientas plásticas para que cada alumno
    encuentre su propio lenguaje artístico y al mismo tiempo disfrute, juegue,
    descubra y despliegue su potencial más auténtico desde la libertad. El camino
    del arte es infinito y sus posibilidades son muy amplias, por eso busco los
    elementos necesarios para que cada uno elija su propio camino.</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="../../../assets/images/tallerarte.jpg" alt="Taller" />
    </div>
    <div class="col-md-8">
      <p class="lead"><strong>Taller niños:</strong></p>
      <ul class="lead">
        <li><strong>Online o Presencial</strong></li>
        <li><strong>Días disponibles</strong></li>
        <li><strong>Materiales incluidos</strong></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="../../../assets/images/tallerarte.jpg" alt="Taller" />
    </div>
    <div class="col-md-8">
      <p class="lead"><strong>Taller adultos:</strong></p>
      <ul class="lead">
        <li><strong>Online o Presencial</strong></li>
        <li><strong>Días disponibles</strong></li>
        <li><strong>Materiales incluidos</strong></li>
      </ul>
    </div>
  </div>
</div>