<!-- Video de Muestra -->
<div class="container pt-3">
  <div class="row d-flex align-items-center justify-content-center">
    
    <!-- Contenedor del video -->
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Eo3RfYrRSss?si=qrnqt6tjfGfb0Kiw"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Texto a la derecha del video -->
    <div class="col-md-6 custom-text">
      <p class="lead">Esta es mi Biografía sintetizada, para que puedan comprender cómo fui armando mi historia
        y cómo me fui encontrando con mi verdadera identidad.</p>
    </div>

  </div>
</div>
