<div class="container marketing">

  <hr class="featurette-divider">

  <!--Seccion Profile-->
  <div class="container" id="profile">
    <div class="profile-img">
      <img src="../../../assets/images/profile.jpg">
    </div>
    <div class="contenido">"Toda mi obra refleja este proceso de búsqueda constante de mi verdadera identidad, y por eso
      la diversidad de técnicas y estilos...
      Esta búsqueda continúa, es un camino largo, al que todos estamos llamados como seres humanos, reencontrarnos con
      nuestra historia, con nuestras raíces, con nuestro SER."</div>
  </div>

  <hr class="featurette-divider">

  <!--Seccion Links-->
  <div class="row justify-content-center">

    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center mb-2">
      <div class="bd-placeholder-img rounded-circle">
        <img src="../../../assets/images/familia/bebe.jpg">
        <!--<i class="fa-solid fa-photo-film fa-4x text-secondary"></i>-->
      </div>
      <h2 class="fw-normal mt-2">Sobre mí</h2>
      <p class="text-center link-text">Un recorrido por mi historia.</p>
      <p><a class="btn btn-secondary" routerLink="/about">Ver más »</a></p>
    </div>

    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center mb-2">
      <div class="bd-placeholder-img rounded-circle">
        <img src="../../../assets/images/obras/madrehija.jpg">
      </div>
      <h2 class="fw-normal mt-2">Catálogo de Obra</h2>
      <p class="text-center link-text">Galería de mis obras y acceso al catálogo.</p>
      <p><a class="btn btn-secondary" routerLink="/obras">Ver más »</a></p>
    </div>

    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center mb-2">
      <div class="bd-placeholder-img rounded-circle">
        <img src="../../../assets/images/muestras/vestido1.jpg"  style="object-position: 10% 20%;">
      </div>
      <h2 class="fw-normal mt-2">Muestras de Arte</h2>
      <p class="text-center link-text">Exposiciones e imágenes de las instalaciones</p>
      <p>
        <a class="btn btn-secondary" routerLink="/muestras">Ver más »</a>
      </p>
    </div>

  </div>
  <hr class="featurette-divider">
</div>