<div class="container marketing">

    <hr class="featurette-divider">
  
    <!--Seccion Profile-->
    <div class="container" id="profile">
      <div class="circular-img">
        <img src="../../../assets/images/profile.png">
      </div>
      <div class="contenido">"Toda mi obra refleja este proceso de búsqueda constante de mi verdadera identidad, y por eso
        la diversidad de técnicas y estilos...
        Esta búsqueda continúa, es un camino largo, al que todos estamos llamados como seres humanos, reencontrarnos con
        nuestra historia, con nuestras raíces, con nuestro SER."</div>
    </div>
  
    <hr class="featurette-divider">
  
    <!--Seccion Links-->
    <div class="row justify-content-center">
  
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="bd-placeholder-img rounded-circle"
          style="width: 140px; height: 140px; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center;">
          <i class="fa-solid fa-photo-film fa-5x text-secondary"></i>
        </div>
        <h2 class="fw-normal">Sobre mí</h2>
        <p class="text-center link-text">Mi biografía. Un recorrido por mi historia a través de artículos y
          noticias.</p>
        <p><a class="btn btn-secondary" routerLink="/about">Ver más »</a></p>
      </div>
  
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="bd-placeholder-img rounded-circle"
          style="width: 140px; height: 140px; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center;">
          <i class="fa-solid fa-panorama fa-5x text-secondary"></i>
        </div>
        <h2 class="fw-normal">Catálogo de Obra</h2>
        <p class="text-center link-text">Galería de mis obras y acceso al catálogo.</p>
        <p><a class="btn btn-secondary" routerLink="/obras">Ver más »</a></p>
      </div>
  
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="bd-placeholder-img rounded-circle"
          style="width: 140px; height: 140px; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center;">
          <i class="fa-solid fa-palette fa-5x text-secondary"></i>
        </div>
        <h2 class="fw-normal">Muestras de Arte</h2>
        <p class="text-center link-text">Exposiciones y material interactivo.</p>
        <p>
          <a class="btn btn-secondary" routerLink="/taller">Taller »</a>
          <a href="https://wa.me/1136576990" class="btn btn-success" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
        </p>
      </div>
  
    </div>
    <hr class="featurette-divider">
  </div>