<main>
  <section class="py-5 text-center container pb-0">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Mis obras</h1>
        <p class="lead text-body-secondary">Colección de mis obras de arte.</p>
        <p>
          <a href="https://drive.google.com/file/d/1liD5tGa9abDB6x1SLf4gk6z7IJsvzEya/view?usp=sharing" target="_blank"
            class="btn btn-primary my-2">Catálogo</a>
        </p>
      </div>
    </div>
  </section>

  <div class="container" style="text-align: justify;">
    <p class="lead">En mis obras expreso mi proceso de reencuentro y reconstrucción de
      mi identidad, de mis raíces y de mi historia de una forma plástica, pasando por
      diversos estilos y materiales hasta encontrarme con mi verdadero nombre. Mi
      historia no ha sido lineal, sino que ha tenido matices. Fui armando un
      rompecabezas con cada una de las piezas que estaban sueltas y personas que
      me he encontrado en el camino me han ayudado a reordenarlas. Es por eso
      que he utilizado el collage como forma de unir esas piezas sueltas y darles un
      sentido estético. Mi vida ha sido y continúa siendo una obra de arte en
      constante proceso de descubrimiento de mi ser.
    </p>

    <p class="lead">Mis obras han pasado de la figuración a la abstracción, en las que priman los colores saturados y
      vibrantes,
      expresando vida, autenticidad, alegría y libertad.
      Otra de mis series actuales son abstractas, en blanco y negro, sintéticas, de líneas simples y
      arquitectónicas, son como planos vistos desde arriba, en donde hay un entrecruzamiento o superposición de líneas y
      formas que se entrelazan, abriéndose al espacio e intercambiando movimientos, silencios, quietud o vibraciones,
      simbolizando la vida en constante cambio.
    </p>
  </div>

  <div class="album bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col" *ngFor="let obra of obras">
          <div class="card shadow-sm">

            <img [src]="obra.img" class="card-img-top" role="img" aria-label="Obra de Arte">

            <div class="card-body">

              <h4 class="card-title">{{obra.title}}</h4>

              <p class="card-text">
                {{obra.year}} - {{obra.desc}}
              </p>

              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{obra.size}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="d-flex justify-content-center">
        <a href="https://drive.google.com/file/d/1liD5tGa9abDB6x1SLf4gk6z7IJsvzEya/view?usp=sharing" target="_blank"
          class="btn btn-primary btn-lg my-1 w-100 mt-4">Ver más</a>
      </p>
    </div>
  </div>
</main>